<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"  />-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendEase"
        tools:targetApi="31">
        <activity
            android:name=".EventDetailsAttendee" />
        <activity
            android:name=".BrowseMyEvent"
            android:exported="false" />
        <activity
            android:name=".BrowseAllEvents"
            android:exported="false" />
        <activity
            android:name=".MsgAdd"
            android:exported="false" />
        <activity
            android:name=".ViewMsgOrganizer"
            android:exported="false" />
        <activity
            android:name=".OrganizerNotifications"
            android:exported="false" />
        <activity
            android:name=".AttendeeNotifications"
            android:exported="false" />
        <activity
            android:name=".ViewMsg"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QRScannerActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaptureActivityPortraitMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NewEventActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".OrganizerDashboardActivity">
        </activity>

        <activity
            android:name=".AdminAccountActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".UserCheckIn"
            android:exported="true">
        </activity>
        <activity
            android:name=".SignupsListActivity">
        </activity>

        <activity
            android:name=".AttendeeDashboardActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".AttendanceListActivity">
        </activity>
        <activity
            android:name=".OrganizerMyEventsActivity">
        </activity>
        <activity
            android:name=".EventDetailsOrganizer">
        </activity>
        <service
        android:name=".FirebaseListener"
        android:enabled="true"
        android:exported="false" />


    </application>

</manifest>